.section__continue_buying{
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 100px 1fr;
}

.continue_buying {
  width: 100%;
  display: flex;
  align-items:center;
  margin-top: 85px;
  padding:10px;
}

.continue_buying img {
  width: 10%;
  
}

.continue_buying span {
  color: var(--red--color);
  font-weight: 600;
}

.button_buying {
  margin-top: 30px;
  padding:10px;
  grid-row: 2;
  grid-column: 2;
}

.card__cart_product{
  display: flex;
  background-color: var(--white--color);
  height:100px;
  padding:10px;
  margin: 10px;
  gap: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card__cart_product img{
  width: 30%;
  object-fit: contain;
}

.info__card_cart {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  color:var(--red--color);
}

.span__name{
  font-size:12px;
}