/*En este archivo  iran estilos que modifiquen globalmente* el css*/
:root {
    --bg--color: #F3F3F3;
    --red--color: #BC2C3D;
    --redOpaco--color: #DE6674;
     /*color de las letras*/
    --Pcolor--color: #5A5A5A;
    --black--color: #000000;
}

body {
    background-color: var(--bg--color);
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 700px) {
    .section-main__car {
        width: 1500px;
        height: 490px;
        margin-left: 80px;
        margin-top: 100px;
        display: flex;
        justify-content: end;
        align-items: center;
        overflow: hidden;
    }

    .section-main__car img {
        width: 1100px;
        height: 1000px;
        object-fit: contain;
        margin-top: 150px;
        margin-right: -670px;
    }


}