/*En este archivo  iran estilos que modifiquen globalmente* el css*/
:root {
    --bg: #F3F3F3;
    --primario: #BC2C3D;
    --secundario: #DE6674;
    --blanco:#fff;
     /*color de las letras*/
    --parrafo: #5A5A5A;
    --black: #000000;
}

body {
    background-color: var(--bg);
    font-family: 'Raleway', sans-serif;
}
.btn{
    background-color: var(--primario);
    padding: 2px;
}

@media (max-width: 700px) {
    .section-main__car {
        width: 1500px;
        height: 490px;
        margin-left: 80px;
        margin-top: 100px;
        display: flex;
        justify-content: end;
        align-items: center;
        overflow: hidden;
    }

    .section-main__car img {
        width: 1100px;
        height: 1000px;
        object-fit: contain;
        margin-top: 150px;
        margin-right: -670px;
    }


}