@import url(./normalize.css);
@import url(./global.css);
@import url(./products.css);

/* @import url(./responsive.css); */

/* main */
/* .header {
    width: 100%;
    height: 100%;
    background: url(../img/linea.svg) no-repeat right top;
}  */

.charging {
  position       : fixed;
  left           : 0;
  top            : 0;
  width          : 100%;
  height         : 100%;
  z-index        : 43244;
  background-color: #fff;
  display        : flex;
  justify-content: center;
  align-items    : center;
  opacity        : 1;
  transition     : all .5s ease-in-out;
}

.charj {
  width : 100px;
  height: 100px;
}

body .hidden {
  display : none;
}

.hero--container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.hero__nickname {
  align-self: center;
  position: absolute;
  top: 20%;
  left: 5%;
}

.hero__nickname p:first-child {
  font-weight: 700;
  font-size: 2rem;
}

.hero__nickname span {
  background-color: var(--red--color);
  display: inline-block;
  width: 5px;
  height: 30px;
  margin-left: 10px;
}

.hero__nickname button {
  display: inline-block;
  padding: 0.75rem 1rem;
  margin-top: 1.75rem;
  border-radius: 1.75rem;
  cursor: pointer;
  background-color: var(--red--color);
  color: #fff;
  border: none;
}

.hero__car {
  /* margin-left: 80px;
    margin-top: 100px; */
  display: flex;
  justify-content: end;
  margin-top: 100px;
  /* align-items: center; */
}

.hero__svg {
  position: absolute;
  z-index: -10;
  left: 0;
}

.hero__img {
  width: 80px;
  margin-right: -680px;
}

.hero__car .hero__svg {
  height: 1000px;
}

.hero__car img {
  width: 1100px;
}

.section-cards {
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  cursor: pointer;
  /* height: 30rem; */
  flex-direction: column;
}

.section-cards__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5rem;
  gap: 2rem;
}

.section-cards__card:first-child .section-cards__mid {
  border-left: 0.4rem solid var(--red--color);
  padding-left: 1rem;
}

.section-cards__square {
  /* width: 17rem; */
  width: 314px;
  height: 21em;
  padding: 2rem;
  background-color: var(--white--color);
  background-image: url(../img/llantas.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  border-radius: 1.75rem;
  box-shadow: 0 4px 4px var(--box--shadow);
  text-align: center;
}

.section-cards__square h3 {
  color: var(--red--color);
  font-size: 1.75rem;
}

.section-cards__square p {
  margin: 1rem 0;
  font-size: .90rem;
}

.section-cards__mid {
  text-align: center;
}

.section-cards__speaker {
  width: auto;
  height: 5rem;
}

.sap {
  /* margin-top:100px; */
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 320px 400px; */
  /* justify-content: center; */
  gap: 3em;
  padding: 0 2rem;
}

.section-somos_info {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 100px;
}

/* .section-somos_info::before {
  content: "";
  position: absolute;
  width: 0.4rem;
  height: 90px;
  left: 68%;
  top: 220%;
  background-color: var(--red--color);
} */

.section-somos__title {
  width: 100%;
  height: 20%;
  font-size: 2rem;
  padding-right: .75rem;
  border-right: 0.4rem solid var(--red--color);
}

.section-somos_textOne,
.section-somos__textTwo {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  /* height: 1%; */
}

.section-somos_textOne h4,
.section-somos__textTwo h4 {
  font-size: 1.3rem;
}

/* .section-marcas_textOne {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-marcas_textOne img {
  width: fit-content;
} */

.section-somos_textOne p,
.section-somos__textTwo p {
  width: 90%;
  line-height: 1.3rem;
  word-spacing: 0.2rem;
  font-weight: 600;
  color: grey;
}

/* .section-somos__textTwo {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  height: 1%;
} */

/* .section-somos__textTwo h4 {
  font-size: 1.3rem;
} */

/* .section-somos__textTwo p {
  width: 300px;
  line-height: 1.3rem;
  word-spacing: 0.2rem;
  font-weight: 600;
  color: grey;
} */

.sapi {
  /* margin-top:100px; */
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 320px 400px; */
  /* justify-content: center; */
  gap: 5em;
  padding: 0 2rem;
  margin: 0 auto;
}

.section-marcas__title {
  width: 300px;
  border-right: 0.4rem solid var(--red--color);
  font-size: 1.5rem;
}


.section-marcas_info {
  display: grid;
  grid-template-columns: repeat(3, minmax(10px, auto));
  gap: 3em;
  /* padding: 200px; */
}

.section-marcas_info > img {
  justify-self: center;
}

.section-marcas__text-one,
.section-marcas__text-two {
  display: grid;
  grid-template-rows: repeat(6, 110px);
  justify-items: end;
}

.section-marcas__text-two {
  justify-items: start;
}

.section-marcas__text-one img:nth-child(1) {
  grid-row: 2 / 3;
}
.section-marcas__text-one img:nth-child(2) {
  grid-row: 4 / 5;
}
.section-marcas__text-one img:nth-child(3) {
  grid-row: 6 / 7;
}

.section-marcas__text-two img:nth-child(1) {
  grid-row: 1 / 2;
}
.section-marcas__text-two img:nth-child(2) {
  grid-row: 3 / 4;
}
.section-marcas__text-two img:nth-child(3) {
  grid-row: 5 / 6;
}

/* .section-marcas__text-two {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
} */

.marcas {
  width: 100px;
}

.toy, .chevrolet, .toyota, .mercedes, .honda, .romeo {
  width: 100px;
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.section-need__title {
  width: 300px;
  font-size: 2rem;
  border-right: 0.4rem solid var(--red--color);
  margin: 6.25rem 1.5rem 0;
}

.fade-in {
  opacity: 1;
}

/*Footer*/
.footer {
  /* width: 100%; */
  /* height: 200px; */
  background-color: var(--red--color);
  margin-top: 100px;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__links {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.footer__link a,
.footer__terms p a,
.footer__copyright p {
  color: #fff;
}

.footer__links,
.footer__terms,
.footer__copyright {
  margin: 1rem 0;
}

.footer__link a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.footer__logo {
  width: auto;
  height: 5rem;
}

/* productos view */
 



/* .hero-prod {
  height: 100%;
  overflow: hidden;
}

.hero-prod::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: var(--red--color);
  top: 650px;
  z-index: 43;
}

.hero-prod img{
  height: 50%;
  /* position: fixed; 
}

.cards__container {
  overflow: hidden;
  margin-top: 43px;
}

.cards__container img{
  width: 100%;
  clip-path: polygon(0 0%, 70% 0%, 100% 100%, 0% 100%);
}

.info-cards {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
}


.nombrecarro {
  color: var(--red--color);
  font-size: 1.5em;
  font-weight: 100;
}



.linea{
  background-color: var(--red--color);
  width: 100%;
  height:2px;
}

.name__cards_info{
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  margin-top: 3px;
}

.name__cards_info p {
  font-weight: 100;
  /* color: var(--red--color); 
}

.buttons {
  margin-top:50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1em;
  margin-right: 20px;
}

.btn-select {
    background-color: var(--red--color);
    border-radius: 8px;
    border-width: 0;
    color: #fff;
    cursor: pointer;
    
    z-index: 43243;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none; 
    -webkit-user-select: none;
    touch-action: manipulation;
  } 

.btn-detail {
  background-color: rgba(51, 51, 51, 0.05);
  border-width: 0;
  color: var(--red--color);
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  z-index: 43243;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none; 
   -webkit-user-select: none; 
   touch-action: manipulation;
} */

/* cart */

.section__continue_buying{
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 100px 1fr;
}

.continue_buying {
  width: 100%;
  display: flex;
  align-items:center;
  margin-top: 85px;
  padding:10px;

}

.continue_buying img {
  width: 10%;
  
}

.continue_buying span {
  color: var(--red--color);
  font-weight: 600;
}

.button_buying {
  margin-top: 30px;
  padding:10px;
  grid-row: 2;
  grid-column: 2;
}

.card__cart_product{
  display: flex;
  background-color:#fff;
  height:100px;
  padding:10px;
  margin: 10px;
  gap: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.card__cart_product img{
  width: 30%;
  object-fit: contain;
}

.info__card_cart {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  color:var(--red--color);
}

.span__name{
  font-size:12px;
  /* font-weight:500; */
}




/* añado responsive al final del css por la cascada */
@media (min-width: 768px) {
  .header {
    background-color: #fff;
  }

  .header__logo {
    display: block;
  }

  .header__navbar {
    flex: 6;
  }

  .header__btn-navbar {
    display: none;
  }

  .header__navbar {
    width: auto;
    position: initial;
  }

  .header__navbar-items {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
  }

  .header__navbar-item a {
    padding: 0.75rem;
    font-weight: 400;
  }

  .header__icons {
    margin: 0;
    justify-content: flex-start;
  }

  .header__search {
    margin: 0;
  }

  .header__cart {
    margin: 0 .5rem;
  }

  .header__icon-search {
    left: 5%;
  }

  /* Section Hero */

  .hero .hero__nickname {
    /* left: 15%; */
    flex: 6;
    text-align: center;
    position: unset;
    z-index: 1;
  }

  .hero__car {
    /* width: 1500px; */
    /* height: 490px; */
    /* margin-top: 100px; */
    padding-top: 10rem;
    align-items: center;
    /* overflow: hidden; */
    flex: 6;
    position: relative;
    height: 40rem;
  }

  .hero__car .hero__svg {
    height: unset;
    right: 0;
    left: unset;
  }

  .hero__car img {
    /* height: 1000px; */
    object-fit: contain;
  }

  .hero__car .hero__img {
    position: absolute;
    width: auto;
    height: 40rem;
    margin-right: -420px;
  }

  /* .hero__car .hero__svg {
    left: 40%;
  } */

  .section-cards {
    flex-flow: row wrap;
  }

  .section-cards__card {
    margin: 1rem;
  }

  .section-cards__square {
    height: 17rem;
    padding: 1rem;
  }

  .section-cards__square h3 {
    font-size: 1.5rem;
  }

  .section-cards__square p {
    font-size: .75rem;
    margin: .75rem 0;
  }

  .section-somos {
    margin-top: 100px;
  }

  .sap {
    /* gap: 5em; */
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: 'title' 'info' ;
  }

  .section-somos_info {
    margin-bottom: 0;
    grid-area: info;
    grid-column: 3 / 5;
    grid-row: 1;
  }

  .section-somos__title {
    grid-area: title;
    grid-column: 1 / 3;
  }

  .section-somos__title p {
    font-size: 1.25rem;
  }

  .sapi {
    display: flex;
    justify-content: space-evenly;
    gap: 0;
    flex-direction: column;
    padding: 0;
  }

  .section-marcas__title {
    width: 30%;
    height: 10%;
    font-size: 2rem;
    /* flex: 6; */
    margin-left: 11rem;
  }

  .section-marcas__title p {
    font-size: 1.5rem;
  }

  /* .section-marcas_textOne {
    padding: 200px;
  } */

  .section-marcas_info {
    width: 30%;
    margin: 0 auto;
    flex: 6;
    margin-top: 5rem;
  }

  .toy {
    top: 66%;
    left: 50%;
  }

  .toyota {
    top: 62.8%;
    left: 58%;
  }

  .chevrolet {
    top: 69.4%;
    left: 58%;
  }

  .mercedes {
    top: 72.6%;
    left: 49%;
  }

  .honda {
    top: 76%;
    left: 58%;
  }

  .romeo {
    top: 79%;
    left: 49%;
  }

  .section-need__title {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center;
    width: 30%; */
    border-right: 0.4rem solid var(--red--color);
    font-size: 2rem;
    margin-left: 11rem;
  }

  .footer {
    padding-bottom: 0;
  }

  .footer__links {
    flex-direction: row;
  }

  .hero-prod img {
    width: 100%;
  }

  .hero-prod::after {
    content: "";
    width: 0;
  }

  .hero-prod{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 .linea-hero {
    width: 100%;
    height: 100px;
    background-color: var(--red--color);
  }

  .cards__container {
    margin-top: 0;
  }

  .cards{
    display: flex;
  }

}

@media (min-width: 1200px) {

  .sap {
    padding: 0 10rem;
  }

  .section-somos_info {
    flex-direction: row;
  }

  .section-somos__title {
    height: 25%;
  }

  .cards img {
    object-fit: contain;

  }
  .hero-prod{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 .linea-hero {
   width: 100%;
   height: 100px;
   background-color: var(--red--color);
 }


}