@import url(./normalize.css);
@import url(./global.css);
/* @import url(./responsive.css); */

/* main */
/* .header {
    width: 100%;
    height: 100%;
    background: url(../img/linea.svg) no-repeat right top;
}  */

.hero--container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.hero__nickname {
  align-self: center;
  position: absolute;
  top: 20%;
  left: 5%;
}

.hero__nickname p:first-child {
  font-weight: 700;
  font-size: 2rem;
}

.hero__nickname span {
  background-color: var(--red--color);
  display: inline-block;
  width: 5px;
  height: 30px;
  margin-left: 10px;
}

.hero__nickname button {
  display: inline-block;
  padding: 0.75rem 1rem;
  margin-top: 1.75rem;
  border-radius: 1.75rem;
  cursor: pointer;
  background-color: var(--red--color);
  color: #fff;
  border: none;
}

.hero__car {
  /* margin-left: 80px;
    margin-top: 100px; */
  display: flex;
  justify-content: end;
  /* align-items: center; */
}

.hero__svg {
  position: absolute;
  z-index: -10;
  left: 0;
}

.hero__img {
  width: 80px;
  margin-right: -670px;
}

.hero__car .hero__svg {
  height: 1000px;
}

.hero__car img {
  width: 1100px;
}

.section-cards {
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  cursor: pointer;
  /* height: 30rem; */
  flex-direction: column;
}

.section-cards__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5rem;
  gap: 2rem;
}

.section-cards__card:first-child .section-cards__mid {
  border-left: 0.4rem solid var(--red--color);
  padding-left: 1rem;
}

.section-cards__square {
  width: 17rem;
  height: 15rem;
  background-color: var(--red--color);
  /* margin: 100px; */
}

.section-cards__mid {
  text-align: center;
}

.section-cards__speaker {
  width: auto;
  height: 5rem;
}

.sap {
  /* margin-top:100px; */
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 320px 400px; */
  /* justify-content: center; */
  gap: 5em;
  padding: 0 2rem;
  
}

.section-somos_info {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 100px;
}

/* .section-somos_info::before {
  content: "";
  position: absolute;
  width: 0.4rem;
  height: 90px;
  left: 68%;
  top: 220%;
  background-color: var(--red--color);
} */

.section-somos__title {
  width: 100%;
  height: 20%;
  font-size: 2rem;
  border-right: 0.4rem solid var(--red--color);
}
.section-marcas__title {
  width: 100%;
  height: 20%;
  font-size: 2rem;
  border-right: 0.4rem solid var(--red--color);
}

.section-somos_textOne {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  height: 1%;
}

.section-somos_textOne h4 {
  font-size: 1.3rem;
}

.section-marcas_textOne {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-marcas_textOne img {
  width: fit-content;
}

.section-somos_textOne p {
  width: 300px;
  line-height: 1.3rem;
  word-spacing: 0.2rem;
  font-weight: 600;
  color: grey;
}

.section-somos__textTwo {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  height: 1%;
}

.section-somos__textTwo h4 {
  font-size: 1.3rem;
}

.section-somos__textTwo p {
  width: 300px;
  line-height: 1.3rem;
  word-spacing: 0.2rem;
  font-weight: 600;
  color: grey;
}

.sapi {
  /* margin-top:100px; */
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 320px 400px; */
  /* justify-content: center; */
  gap: 5em;
  padding: 0 2rem;
}

.section-marcas_textOne {
  color: var(--red--color);
}

.marcas {
  width: 100px;
}

.toy {
  width: 100px;
  position: absolute;
  top: 211rem;
  left: 17%;
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.chevrolet {
  width: 100px;
  position: absolute;
  top: 217.8rem;
  left: 56%;
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.toyota {
  width: 100px;
  position: absolute;
  top: 204rem;
  left: 56%;
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.mercedes {
  width: 120px;
  position: absolute;
  top: 224.4rem;
  left: 15%;
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.honda {
  width: 100px;
  position: absolute;
  top: 231.6rem;
  left: 56%;
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.romeo {
  width: 100px;
  position: absolute;
  top: 238rem;
  left: 17%;
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.section-need__title {
  width: 100%;
  height: 20%;
  font-size: 2rem;
  border-right: 0.4rem solid var(--red--color);
  margin-top: 100px;
}


.fade-in {
  opacity: 1;
}

/*Footer*/

.footer {
  width: 100%;
  height: 200px;
  background-color: var(--red--color);
  margin-top: 100px;
}


/* añado responsive al final del css por la cascada */
@media (min-width: 768px) {
  .header {
    background-color: #fff;
  }

  .header__logo {
    display: block;
  }

  .header__navbar {
    flex: 6;
  }

  .header__btn-navbar {
    display: none;
  }

  .header__navbar {
    width: auto;
    position: initial;
  }

  .header__navbar-items {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
  }

  .header__navbar-item a {
    padding: 0.75rem;
    font-weight: 400;
  }

  .header__icons {
    margin: 0;
    justify-content: flex-start;
  }

  .header__icon-search {
    left: 5%;
  }

  /* Section Hero */

  .hero .hero__nickname {
    /* left: 15%; */
    flex: 6;
    text-align: center;
    position: unset;
  }

  .hero__car {
    /* width: 1500px; */
    /* height: 490px; */
    /* margin-top: 100px; */
    padding-top: 10rem;
    align-items: center;
    /* overflow: hidden; */
    flex: 6;
    position: relative;
    height: 40rem;
  }

  .hero__car .hero__svg {
    height: unset;
    right: 0;
    left: unset;
  }

  .hero__car img {
    /* height: 1000px; */
    object-fit: contain;
  }

  .hero__car .hero__img {
    position: absolute;
    width: auto;
    height: 40rem;
    margin-right: -420px;
  }

  /* .hero__car .hero__svg {
    left: 40%;
  } */

  .section-cards,
  .sap,
  .section-somos_info {
    flex-direction: row;
  }

  .section-somos {
    margin-top: 100px;
  }
  .section-somos__title {
    text-align: center;
  }

  .section-somos__title,
  .section-somos_info {
    flex: 6;
  }

  .sapi {
    display: flex;
    justify-content: space-evenly;
    gap: 0;
    /* align-items: center; */
    flex-direction: row;
    width: 80%;
  }

  .section-marcas__title {
    width: 30%;
    height: 10%;
    border-right: 0.4rem solid var(--red--color);
    font-size: 2rem;
  }

  .section-need__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 10%;
    border-right: 0.4rem solid var(--red--color);
    font-size: 2rem;
    
  }
  .section-marcas_textOne {
    padding: 200px;
  }

  .toy {
    top: 66%;
    left: 50%;
  }

  .toyota {
    top: 62.8%;
    left: 58%;
  }

  .chevrolet {
    top: 69.4%;
    left: 58%;
  }

  .mercedes {
    top: 72.6%;
    left: 49%;
  }

  .honda {
    top: 76%;
    left: 58%;
  }

  .romeo {
    top: 79%;
    left: 49%;
  }
}
