body {
  background-color: #f3f3f3;
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: #ffffff;
}

.navbar__logo {
  flex-grow: 5;
  text-align: center;
  font-weight: 800;
  cursor: pointer;
}

.navbar__items a {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.navbar__items {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-grow: 7;
  text-align: left;
}

.navbar__items li {
  margin: 2%;
}

/* main */

.container {
  background: url(img/linea.svg) no-repeat right top;
  overflow: hidden;
}

.section-main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20rem;
}

.section-main__nickname {
  text-align: center;
  flex-basis: 50%;
}

.section-main__nickname p:first-child {
  font-weight: 700;
  font-size: 30px;
}

.section-main__nickname p {
  display: block;
}

.section-main__nickname span {
  background-color: #bc2c3d;
  display: inline-block;
  width: 7px;
  height: 40px;
  margin-left: 20px;
}

.section-main__nickname button {
  cursor: pointer;
  background-color: #bc2c3d;
  border: none;
  margin-top: 10px;
  border-radius: 27px;
  width: 75px;
  height: 25px;
}

.section-main__car {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-basis: 50%;
  position: relative;
}

.section-main__car img {
  width: auto;
  height: 30rem;
  object-fit: cover;
  position: absolute;
  right: -15rem;
  top: 0;
  bottom: 0;
  margin: auto;
}

.section-cards {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.section-cards div {
  width: 33%;
  height: 245px;
  background-color: #bc2c3d;
  margin: 7rem 3rem;
}

@media (max-width: 700px) {
  .section-main__car {
    width: 1500px;
    height: 490px;
    margin-left: 80px;
    margin-top: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;
  }

  .section-main__car img {
    width: 1100px;
    height: 1000px;
    object-fit: contain;
    margin-top: 150px;
    margin-right: -670px;
  }
}
